section
{
	margin: 0;
	background-color: #fff;
	height: calc(100vh - 160px);
	padding: 0;
}
header,footer
{
	margin:0;
}
svg
{
	display: none;
	width: 100%;
	height: calc(100vh - 160px);
	background-color: #fff;
}
svg text
{
	text-transform: uppercase;
	font-size: 1.2em;
	font-weight: bold;
	stroke: #5c5c5c;
	fill: #FFAA33;
	stroke-width: 1.5;
}
.nodes text
{
	visibility: hidden;
}
.nodes g:hover *
{
	visibility: visible;
}
form
{
	width: 30%;
	margin-left: 35%;
	padding-top: 25px;
}
form input, select
{
	width: calc(100% - 10px);
	display: block;
	padding: 5px;
	margin: 5px;
}
form button
{
	padding: 5px;
	margin: 5px;
}
line, circle
{
   transition: stroke 1s;
}
.t0, .t10, .t14
{
	fill: #33AAFF;
	stroke: white;
}
.t14
{
	fill: #FFAA33;
}
line
{
	stroke: #5f5f5c;
}
.highlight0 .t0, .highlight0 .t14, .highlight1
{
	stroke: #5f5f5c;
}
.bt
{
	stroke: #5f5f5c;
	fill: #5f5f5c;
}
.track
{
	visibility: visible !important;
}
#info_tile
{
	position: absolute;
	bottom: 100px;
	height: calc(50vh - 100px);
	width: calc(100% - 40px);
	padding: 10px;
	border: 4px solid #5F5F5C;
	background-color: #ececec;
	opacity: 0.8;
	left: -100%;
	transition: left 1s;
}
@media only screen and (min-width: 900px)
{
	#info_tile
	{
		width: 30%;
	}
}
#info_tile.visible
{
	position: absolute;
	left: 20px;
}
/*.highlight1 .t0, .highlight1 .t14, .highlight1
{
	stroke: rgb(105 118 125);
}
.highlight2 .t0, .highlight2 .t14, .highlight2
{
	stroke: rgb(165 178 185);
}
.highlight3 .t0, .highlight3 .t14, .highlight3
{
	stroke: rgb(225 238 245);
}*/
