@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");
@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,500;1,300&display=swap");
:root {
  --dark: #1e2019;
  --dark2: #3e4039;
  --contrast: #1b5299;
  --neutral: #fbfbf2;
  --neutral2: #cfd2cd;
  --alternate: #ea526f;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100vh;
}
body {
  width: 100%;
  height: 100vh;
  font-family: 'Alumni Sans', sans-serif;
  font-size: 2.5rem;
  background: radial-gradient(circle, var(--dark2) 0%, var(--dark) 100%); 
}
h1 {
  font-size: 2em;
}
.wt-info {
  font-size: .75em;
  font-style: italic;
  font-weight: 300;
  opacity: .85;
  padding: 2em;
  text-align: center;
}
#root, main.App {
  height: 100%;
}
#splash {
  background: var(--neutral);
  color: var(--dark);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#splash form {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  padding-top: 2em;
  padding-bottom: 2em;
  width: min(70%, calc(815px - 4em));
}
@keyframes disappear {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
#splash.hidden {
  animation: 1s disappear forwards;
}
label {
  font-size: 1.65rem;
  margin-top: 1.5rem;
}
input, select, option, datalist {
  height: 3.7rem;
  border: 2px solid var(--neutral2);
  font-size: 1.8rem;
  padding: .5rem;
  padding-left: 1rem;
  font-family: 'Alumni Sans', sans-serif;
  background: var(--neutral);
}
input:focus, select:focus {
  outline: none;
  border: 2px solid var(--contrast);
  background: none;
  color: var(--contrast);
}
.btn {
  margin: auto;
  display: block;
  margin-top: 3rem;
  background: var(--dark);
  color: var(--neutral);
  min-height: 3.7rem;
  width: 15rem;
  border: 2px solid var(--neutral2);
  font-size: 1.7rem;
  padding: .5rem;
  cursor: pointer;
}
.btn .material-icons-outlined {
  font-size: 1.7rem;
  position: relative;
  right: 1rem;
  top: .2rem;
}
.btn:hover, .btn:focus {
  background: var(--neutral);
  color: var(--contrast);
  border: 2px solid var(--contrast);
}
